#sidebar {
  height: 920px;
  width: 400px;
  position: fixed;
  background-color: #FFFAFA;
  margin: 74px 0 0 33px;
  border-radius: 0px 0px 2px 2px;
  overflow-y: auto;
  -webkit-box-shadow: -1px 4px 23px 1px rgba(0,0,0,0.46);
  -moz-box-shadow: -1px 4px 23px 1px rgba(0,0,0,0.46);
  box-shadow: -1px 4px 23px 1px rgba(0,0,0,0.46);
  padding-bottom: 10px;
}

#sidebar-header {
  background-color: #000;
  height: 82px;
  width: 400px;
  margin: -7px 0px 0px 33px;
  border-radius: 6px 6px 0 0;
  position: fixed;
  -webkit-box-shadow: -1px 4px 23px 1px rgba(0,0,0,0.46);
  -moz-box-shadow: -1px 4px 23px 1px rgba(0,0,0,0.46);
  box-shadow: -1px 4px 23px 1px rgba(0,0,0,0.46);
}

#sidebar-header ul {
  list-style: none;
}
#sidebar-header ul li {
  line-height: 55px;
}

#sidebar-header ul li a {
  color: white;
  text-decoration: none;
  margin-left: 70px;
  font-size: 24px;
  padding: 12px;
}

#sidebar-header ul li a:hover {
  color: #0088D9;
}
