@media(max-width: 768px) {
  #sidebar {
    height: 920px;
    width: 200px;
    position: fixed;
    background-color: #FFFAFA;
    margin: 34px 0 0 8px;
    border-radius: 0px 0px 2px 2px;
    overflow-y: auto;
    -webkit-box-shadow: -1px 4px 23px 1px rgba(0,0,0,0.46);
    -moz-box-shadow: -1px 4px 23px 1px rgba(0,0,0,0.46);
    box-shadow: -1px 4px 23px 1px rgba(0,0,0,0.46);
  }
}

@media(max-width: 768px) {
  .container {
    width: 70%;
    padding-top: 57px;
    margin: 0px 0 0 220px;
    background-color: #FFFAFA;
    border-radius: 0px 0px 2px 2px;
    -webkit-box-shadow: -1px 4px 23px 1px rgba(0,0,0,0.46);
    -moz-box-shadow: -1px 4px 23px 1px rgba(0,0,0,0.46);
    box-shadow: -1px 4px 23px 1px rgba(0,0,0,0.46);
  }
}

@media(max-width: 768px) {
  #navbar {
    width: 514px;
    margin: -8px 0 0 220px;
    position: fixed;
    height: 40px;
    border: 1px solid black;
    border-radius: 6px 6px 0 0;
    background: #000000;
    -webkit-box-shadow: -1px 4px 23px 1px rgba(0,0,0,0.46);
    -moz-box-shadow: -1px 4px 23px 1px rgba(0,0,0,0.46);
    box-shadow: -1px 4px 23px 1px rgba(0,0,0,0.46);
  }

  #navbar ul {
    list-style: none;
    padding: 1px 0 0 0;
    margin-left: 18px;
  }

  #navbar li ul {
    display: none;
  }

  #navbar ul li {
    display: block;
    line-height: 4px;
    padding: 3px 5px 12px;
    position: relative;
    float: left;
    font-size: 12px;
  }
}

@media(max-width: 768px) {
  #sidebar-header {
    background-color: #000;
    height: 40px;
    width: 200px;
    margin: -7px 0px 0px 8px;
    border-radius: 6px 6px 0 0;
    position: fixed;
    -webkit-box-shadow: -1px 4px 23px 1px rgba(0,0,0,0.46);
    -moz-box-shadow: -1px 4px 23px 1px rgba(0,0,0,0.46);
    box-shadow: -1px 4px 23px 1px rgba(0,0,0,0.46);
    }

  .pagination a {
    display: inline;
    background-color: #000000;
    border: 1px solid #0088D9;
    border-radius: 3px;
    padding: 2px 8px 2px 8px;
    color: white;
    font-size: 7px;
    text-decoration: none;
  }

.btn {
  font-size: 8px;
  text-decoration: none;
  border: 1px solid #0088D9;
  border-radius: 5px;
  color: white;
  background-color: #000000;
  padding: 5px;
}

#refresh-btn {
  font-size: 8px;
  text-decoration: none;
  border: 1px solid #0088D9;
  border-radius: 5px;
  color: white;
  background-color: #000000;
  padding: 5px;
  margin-left: 50px;
}

#sidebar-header ul li {
  line-height: 20px;
}

#sidebar-header ul li a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-size: 14px;
  padding: 12px;
}
}
