<div class="nested-fields">
  <div class="field">
    <%= f.label(:title, "Category title") %> 
    <%= f.text_field(:title) %>
    <%= link_to_remove_association "Remove", f, class: 'btn' %>
  </div>

  <div class="field">
    <%= f.hidden_field(:user_id, value: current_user.id) %>
  </div>

</div>


