<%= will_paginate @items %>

<div class='refresh'>
  <%= link_to "Refresh", "#", remote: true, title: "Refresh current feeds", id: "refresh-btn" %>
</div>

<div id="update-status"></div>

<div id="items">
  <%= render @items %>
</div>

<%= will_paginate @items %>
