<%= will_paginate items %>

<ul class="list-group">
  <% items.each do |item| %>
    <li class="list-group-item">
      <%= link_to "#{item.feed.title}: #{item.title}", item.url %></br>
      <%= "#{item.published.strftime("%B %d, %Y %l:%M %p")},  #{time_ago_in_words(item.published)} ago" %>
    </li>
  <% end %>
</ul>
