<%= will_paginate items %>

<ul class="list-group">
  <% items.each do |item| %>
    <li>
    <%= link_to "#{item.feed.title}: #{truncate(item.title, length: 135, omission: "...", escape: false) }", item.url, class: "feed-item" %> <%= link_to "More", feed_path(item.feed), class: "btn" if params[:id].nil? %></br>
      <%= "#{item.published.strftime("%B %d, %Y %l:%M %p")},  #{time_ago_in_words(item.published)} ago" %>
    </li>
  <% end %>
</ul>
