<%= will_paginate @items, renderer: BootstrapPagination::Rails %>

<p id="refresh-btn" class="btn btn-lg btn-primary">Refresh</p>

<div id="update-status"></div>

<div id="items">
  <%= render @items %>
</div>

<%= will_paginate @items, renderer: BootstrapPagination::Rails %>
