<%= will_paginate @items %>
<!-- refresh_feeds_path(category_id: params[:category_id], id: params[:id]) -->
<div class='refresh'>
  <%= link_to "Refresh", "#", remote: true, title: "Refresh current feeds", id: "refresh-btn" %>
</div>

<div id="update-status"></div>

<div id="items">
  <%= render "items", items: @items %>
</div>

<%= will_paginate @items %>
