<div class="pagination">
  <%= will_paginate @items, renderer: BootstrapPagination::Rails %>
</div>

<div id="refresh">
  <p id="refresh-btn" class="btn btn-lg btn-primary">Refresh</p>
</div>

<div id="update-status"></div>

<div id="items">
  <%= render @items %>
</div>

<%= will_paginate @items, renderer: BootstrapPagination::Rails %>
