<h1>My Feed</h1>

<%= will_paginate @feed_items %>

<ul class="list-group">
  <% @feed_items.each do |item| %>
    <li class="list-group-item"><%= link_to item.title, item.url %></li>
  <% end %>
</ul>

<%= will_paginate @feed_items %>

