.caret {
  position: relative;
  cursor: pointer;
  color: white;
}

.caret:hover:before {
  border-top-color: black;
}

.caret:before{
  content: '';
  position: absolute;
  top: 25%;
  left: 12px;
  border-top: 12px solid #999;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
}
