#navbar {
  background: #3E2059;
  height: 78px;
  left: 300px;
  right: 0;
  position: fixed;
  z-index: 1;
  -webkit-box-shadow: -1px 0px 6px 1px rgba(0,0,0,0.46);
  -moz-box-shadow: -1px 0px 6px 1px rgba(0,0,0,0.46);
  box-shadow: -1px 0px 6px 1px rgba(0,0,0,0.46);
}

#navbar ul {
  list-style: none;
  padding-top: 12px;
  margin-left: 20px;
}

#navbar li ul {
  display: none;
}

#navbar ul li {
  display: block;
  line-height: 4px;
  padding: 10px 15px 14px;
  position: relative;
  float: left;
  font-size: 24px;
}

#navbar ul li a {
  text-decoration: none;
  display: block;
  color: white;
}

#navbar ul li a:hover {
  color: #C8C8C8;
}

#navbar ul li ul li {
  background-color: #3E2059;
  display: block;
  font-size: 20px;
  padding: 8px 5px 15px 5px;
}

#navbar li:hover ul {
  display: block;
  position: absolute;
  margin: 0 11px 0 0;
}

#navbar li:hover li {
  float: none;
}

.inline-form {
  display: inline;
}

.search-elements{
  color: white;
}
