html {
  width: 100%;
  margin: auto;
  font-family: 'Alegreya', sans-serif;
}

h1 {
  padding: 10px 0 25px 0px;
}

.list-group {
  list-style: none;
}

.list-group li {
  padding: 12px;
  border-bottom: 2px solid #000;
  border-radius: 3px;
}

#category-list-group {
  list-style: none;
}

#category-list-group li {
  padding: 12px;
  border-bottom: 2px solid #000;
  border-radius: 3px;
}

.container {
  background-color: #FFFAFA;
  top: 80px;
  left: 300px;
  right: 0;
  position: absolute;
}

.heading {
  height: 150px;
  text-align: center;
  margin: 0 0 0 110px;
  padding-top: 25px;
  text-transform: uppercase;
}

.heading .btn {
  font-size: 18px;
  text-decoration: none;
  border-radius: 5px;
  color: white;
  background-color: #000000;
  padding: 5px;
}

.btn {
  font-size: 16px;
  text-decoration: none;
  border: 1px solid #4E2970;
  border-radius: 5px;
  color: white;
  background-color: #000000;
  padding: 5px;
}

.btn:hover {
  color: #C8C8C8;
}

.feed-item {
  padding-right: 35px;
}

#refresh-btn {
  font-size: 16px;
  text-decoration: none;
  border: 1px solid #0088D9;
  border-radius: 5px;
  color: white;
  background-color: #000000;
  padding: 5px;
  margin-left: 50px;
}

#refresh-btn:hover {
  color: #C8C8C8;
}
