  #sidebar {
    background-color: #FFFAFA;
    width: 300px;
    left: 0;
    bottom: 0;
    top: 78px;
    position: fixed;
    border-radius: 0px 0px 2px 2px;
    overflow-y: auto;
    z-index: 1;
    -webkit-box-shadow: -1px 0px 6px 1px rgba(0,0,0,0.46);
    -moz-box-shadow: -1px 0px 6px 1px rgba(0,0,0,0.46);
    box-shadow: -1px 0px 6px 1px rgba(0,0,0,0.46);
  }

#sidebar-header {
  background: #3E2059;
  height: 78px;
  position: fixed;
  left: 0;
  width: 300px;
  z-index: 2;
  -webkit-box-shadow: -1px 0px 6px 1px rgba(0,0,0,0.46);
  -moz-box-shadow: -1px 0px 6px 1px rgba(0,0,0,0.46);
  box-shadow: -1px 0px 6px 1px rgba(0,0,0,0.46);
}

#sidebar-header ul {
  list-style: none;
}
#sidebar-header ul li {
  line-height: 50px;
}

#sidebar-header ul li a {
  color: white;
  text-decoration: none;
  margin-left: 35px;
  font-size: 24px;
  padding: 12px;
}

#sidebar-header ul li a:hover {
  color: #C8C8C8;
}

#category-dropdown-item {
  font-size: 14px;
}
