html {
  font-family: 'Alegreya', sans-serif;
}

.container {
  background-color: $snow-white;
  top: 80px;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

.banner {
  height: 150px;
  text-align: center;
  text-transform: uppercase;
}

#landing-page-wrapper {
  font-size: 25px;
  text-align: center;
}

#sign-up-btn {
  background-color: #000000;
  color: white;
  border: 1px solid $dark-purple;
  text-decoration: none;
  border-radius: 5px;
  padding: 6px 125px 6px 125px;
  font-size: 36px;
  &:hover {
    color: $light-grey;
    background-color: #3E2059;
  }
}
