.btn {
  background-color: #000000;
  color: white;
  border: 1px solid $dark-purple;
  text-decoration: none;
  border-radius: 5px;
  padding: 4px;
  font-size: 15px;
  &:hover {
    color: $light-grey;
  }
}

#refresh-btn {
  background-color: #000000;
  font-size: 15px;
  text-decoration: none;
  border: 1px solid $dark-purple;
  border-radius: 5px;
  color: white;
  padding: 5px;
  margin-left: 765px;
  &:hover {
    color: $light-grey;
  }
}
