html {
  font-family: 'Alegreya', sans-serif;
}

.container {
  background-color: $snow-white;
  top: 80px;
  left: 300px;
  right: 0;
  position: absolute;
}

.banner {
  height: 150px;
  text-align: center;
  text-transform: uppercase;
}

#completed {
  background-color: #44AA11;
  width: 100%;
} 
