<div class="text-center">
  <p><%= link_to "Sync Subscribed Channels", sync_subscribed_channels_path, class: "btn btn-primary" %><p>
</div>

<div class="panel panel-default">
  <h2>Subscriptions</h2>
  <ul class="list-group">
    <%= render 'youtube/all_channels', youtube_channels: @youtube_channels %>
  </ul>
</div>
