<div id="landing-page-wrapper">
  <h1>Pead Reader</h1>

  <p>
    Visiting multiple locations for your information and entertainment is time consuming.
    Keep track of your favorite websites all from one place!</br>
    Sign up for a peadreader account to start viewing all your favorite podcasts, news feeds, videos and more without balancing multiple tabs or applications.
  </p>

  <%= link_to "Sign Up", new_user_registration_path, id: "sign-up-btn" %>
</div>
