<div class="text-center">
  <%= will_paginate @items, renderer: BootstrapPagination::Rails %>

  <div id="refresh">
    <p id="refresh-btn" class="btn btn-lg btn-primary">Refresh</p>
  </div>

  <div id="update-status"></div>
  <div style="display:none;" id="hidden-item"></div>
</div>

</br>

<div id="items">
  <ul class="list-group">
    <%= render @items %>
  </ul>
</div>

<div class="text-center">
  <%= will_paginate @items, renderer: BootstrapPagination::Rails %>
</div>
