/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  html {
    width: 100%;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
  }

  #navbar {
    width: 80%;
    margin: auto;
    height: 130px;
    border: 1px solid black;
    border-radius: 10px;
    background: #000000;
    -webkit-box-shadow: -1px 4px 23px 1px rgba(0,0,0,0.46);
    -moz-box-shadow: -1px 4px 23px 1px rgba(0,0,0,0.46);
    box-shadow: -1px 4px 23px 1px rgba(0,0,0,0.46);
  }

  #navbar ul {
    list-style: none;
    text-align: center;
    padding: 10px;
  }

  #navbar ul li {
    display: inline;
    text-transform: uppercase;
    padding: 0 10px;
    line-height: 10px;
    font-size: 18px;
    font-weight: bold;
    margin-top: -5px;
  }

  #navbar ul li a {
    text-decoration: none;
    color: white;
  }

  #navbar ul li a:hover {
    color: grey;
  }

  body {
    background-color: #D3FFCE;
  }

  .container {
    width: 100%;
    position: relative;
  }
    
  h1 {
    padding-bottom: 25px;
  }

  #items {
    margin-top: -20px;
  }

  .list-group {
    list-style: none;
  }

  .list-group li {
    padding: 15px;
    border-bottom: 2px solid #000;
    border-radius: 3px;
  }
  
  .list-group li a {
  }

  .pagination {
    list-style: none;
    padding-top: 10px;
  }

  .pagination ul li {
    display: inline;
    background-color: #000000;
    border: 3px solid #D3FFCE;
    border-radius: 3px;
    padding: 10px 6px 6px 6px;
    
  }

  .pagination ul li a {
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
  }

  .pagination ul li a:hover {
    color: grey;
    text-decoration: underline;
  }

  .container {
    width: 80%;
    margin: auto;
    background-color: white;
    border-radius: 2px;
    -webkit-box-shadow: -1px 4px 23px 1px rgba(0,0,0,0.46);
    -moz-box-shadow: -1px 4px 23px 1px rgba(0,0,0,0.46);
    box-shadow: -1px 4px 23px 1px rgba(0,0,0,0.46);
  }

  .heading {
    width: 80%;
    height: 150px;
    text-align: center;
    margin: 0 0 0 110px;
    margin-top: -20px;
    padding-top: 35px;
    text-transform: uppercase;
  }

  .heading .btn {
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    border: 3px solid #D3FFCE;
    border-radius: 5px;
    color: white;
    background-color: #000000;
    padding: 5px;
  }

  .btn {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    border: 3px solid #D3FFCE;
    border-radius: 5px;
    color: white;
    background-color: #000000;
    padding: 5px;
  }

  .btn:hover {
    color: grey;
  }
  
  .feed-item {
    padding-right: 35px;
  }



