html {
  width: 100%;
  margin: auto;
  font-family: 'Ubuntu', sans-serif;
}

body {
  background: #0088D9;
}

h1 {
  padding: 10px 0 25px 0px;
}

.list-group {
  list-style: none;
}

.list-group li {
  padding: 15px;
  border-bottom: 2px solid #000;
  border-radius: 3px;
}

.container {
  width: 75%;
  padding-top: 50px;
  margin: 0px 0 0 440px;
  background-color: #FFFAFA;
  border-radius: 0px 0px 2px 2px;
  -webkit-box-shadow: -1px 4px 23px 1px rgba(0,0,0,0.46);
  -moz-box-shadow: -1px 4px 23px 1px rgba(0,0,0,0.46);
  box-shadow: -1px 4px 23px 1px rgba(0,0,0,0.46);
}

.heading {
  width: 80%;
  height: 150px;
  text-align: center;
  margin: 0 0 0 110px;
  padding-top: 25px;
  text-transform: uppercase;
}

.heading .btn {
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  color: white;
  background-color: #000000;
  padding: 5px;
}

.btn {
  font-size: 16px;
  text-decoration: none;
  border: 1px solid #0088D9;
  border-radius: 5px;
  color: white;
  background-color: #000000;
  padding: 5px;
}

.btn:hover {
  color: #0088D9;
}

.feed-item {
  padding-right: 35px;
}

#refresh-btn {
  font-size: 16px;
  text-decoration: none;
  border: 1px solid #0088D9;
  border-radius: 5px;
  color: white;
  background-color: #000000;
  padding: 5px;
  margin-left: 50px;
}

#refresh-btn:hover {
  color: #0088D9;
}
