#sidebar {
  height: 3500px;
  width: 400px;
  background-color: white;
  margin-left: 33px;
  border-radius: 0px 0px 2px 2px;
  -webkit-box-shadow: -1px 4px 23px 1px rgba(0,0,0,0.46);
  -moz-box-shadow: -1px 4px 23px 1px rgba(0,0,0,0.46);
  box-shadow: -1px 4px 23px 1px rgba(0,0,0,0.46);
}

#sidebar-header {
  background-color: #000;
  height: 80px;
  width: 400px;
  margin: -97px 0px -15px 33px;
  border-radius: 6px 6px 0 0;
  -webkit-box-shadow: -1px 4px 23px 1px rgba(0,0,0,0.46);
  -moz-box-shadow: -1px 4px 23px 1px rgba(0,0,0,0.46);
  box-shadow: -1px 4px 23px 1px rgba(0,0,0,0.46);
}

#sidebar-header ul li {
  line-height: 80px;
}

#sidebar-header ul li a {
  color: white;
  text-decoration: none;
  font-size: 25px;
  padding: 12px;
  font-weight: bold;
}
