<h1><%= @category.title %></h1>

<%= link_to "Back", categories_path(@category), remote: true, class: "btn" %>
<%= link_to "Edit", edit_category_path(@category), remote: true, class: "btn" %>
<%= link_to "Delete", category_path(@category), remote: true, class: "btn", method: :delete,
                                     data: { confirm: "Delete this category?" }  %>
