<% if user_signed_in? %>
  <div class="panel panel-default">

      <div class="text-center">
      <div class="panel-heading">
        <ul class="nav nav-pills" id="categories-link">
          <li><%= link_to "Categories", categories_path %></li>
        </ul>
      </div>
      </div>

    <ul class="list-group">
      <% @categories.each do |category| %>
        <li class="list-group-item"><%= link_to category.title, category, class: "btn" %>
          <ul>
            <% category.feeds.order(:title).each do |feed| %>
              <li><%= link_to feed.title, feed %></li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
