<div id="sidebar-header">
  <ul>
    <li>
      <% if user_signed_in? %>
        <%= link_to "Categories", categories_path %>
        <%= link_to "Add Category", new_category_path %>
      <% end %>
    </li>
  </ul>
</div>


<div id="sidebar" class="fixed">
  <ul class="list-group">
    
    <% if user_signed_in? %>
      <% @categories.each do |category| %>
        <li><%= link_to category.title, root_path(category_id: category.id), class: "btn" %><span class="caret">
          <ul>
            <% category.feeds.each do |feed| %>
              <li><%= link_to feed.title, feed %></li>
            <% end %>
          </ul>
        </span>
        </li>
      <% end %>
    <% end %>

  </ul>
</div>

