<div id="sidebar">
  <ul id="category-list-group">
    
    <% if user_signed_in? %>
      <% @categories.each do |category| %>
        <li class="dropdown-list"><%= link_to category.title, category, remote: true, class: "btn" %><span class="caret">
          <ul class="invisible">
            <% category.feeds.each do |feed| %>
              <li id="category-dropdown-item"><%= link_to feed.title, feed, remote: true %></li>
            <% end %>
          </ul>
        </span>
        </li>
      <% end %>
    <% end %>

  </ul>
</div>
