<div id="sidebar-header">
  <ul>
    <li>
      <%= link_to "Categories", categories_path, remote: true %>
    </li>
  </ul>
</div>

<div id="sidebar">
  <ul id="category-list-group">
    
    <% if user_signed_in? %>
      <% @categories.each do |category| %>
        <li class="dropdown-list"><%= link_to category.title, root_path(category_id: category.id), remote: true, class: "btn" %><span class="caret">
          <ul class="invisible">
            <% category.feeds.each do |feed| %>
              <li id="category-dropdown-item"><%= link_to feed.title, feed, remote: true %></li>
            <% end %>
          </ul>
        </span>
        </li>
      <% end %>
    <% end %>

  </ul>
</div>

